<!DOCTY
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta charset="utf-8">
<!-- 
	This website is powered by TYPO3 - inspiring people to share!
	TYPO3 is a free open source Content Management Framework initially created by Kasper Skaarhoj and licensed under GNU/GPL.
	TYPO3 is copyright 1998-2011 of Kasper Skaarhoj. Extensions are copyright of their respective owners.
	Information and contribution at http://typo3.com/ and http://typo3.org/
-->
<base href="http://esuverona.aitema.it/">

<link rel="shortcut icon" href="http://esuverona.aitema.it/fileadmin/template/favicon.ico">
<link rel="icon" href="http://esuverona.aitema.it/fileadmin/template/favicon.ico">

<meta name="generator" content="TYPO3 4.5 CMS">



<meta charset="utf-8">

  
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="fileadmin/template/css/style.css?v=2">
  <link rel="stylesheet" href="fileadmin/template/css/fonts.css">
  <script src="http://esuverona.aitema.it/fileadmin/template/js/libs/modernizr-1.7.min.js"></script>

<title>&nbsp;Atto -&nbsp;ESU Verona</title>

<script type="text/javascript">
	/*<![CDATA[*/
<!--
	function openPic(url,winName,winParams)	{	//
		var theWindow = window.open(url,winName,winParams);
		if (theWindow)	{theWindow.focus();}
	}

// -->
	/*]]>*/
</script>
</head>
<body>

  <div id="header-container" class="wrapper"><!--###header-container### begin -->
    <header>
      <div id="logo"><!--###logo### begin --><a href="/"><img src="http://esuverona.aitema.it/fileadmin/template/img/logo_ESU.png"></a><!--###logo### end --></div>
      <div id="quicklinks"><ul><li><strong><a href="servizi/sportello-on-line/"  >Sportello on-line e Registrazione</a></strong></li></ul><ul><li><a href="area-istituzionale/cerca-persone/"  >Cerca persone</a></li><li><a href="area-istituzionale/albo-online/"  >Albo online</a></li><li><a href="area-istituzionale/organi-istituzionali/"  >Organi istituzionali</a></li><li><a href="servizi/mappa-esu/"  >Mappa ESU</a></li><li><a href="area-istituzionale/press/"  >Press</a></li></ul><ul><li><a href="mailto:protocollo.esuverona@pec.it">PEC: protocollo.esuverona@pec.it</a></li></ul></div>
      <div id="flags"><div class="hidden"><a href="it/area-istituzionale/albo-online/atto/"  ><img src="typo3temp/menu/9568489932.png" width="20" height="12"  alt="Atto" /></a></div><div><a href="en/area-istituzionale/albo-online/atto/"  ><img src="typo3temp/menu/2e964bd1e7.png" width="20" height="12"  alt="Atto" /></a></div></div>
    </header>
  <!--###header-container### end --></div>
  <div id="nav-container"><nav><div class="up wrapper">&nbsp;&nbsp;<a href="home/"  >home</a>&nbsp;&nbsp;&#124;&nbsp;&nbsp;<a href="servizi/"  >servizi allo studente</a>&nbsp;&nbsp;&#124;&nbsp;&nbsp;<a href="area-istituzionale/"  >area istituzionale</a>&nbsp;&nbsp;&#124;&nbsp;&nbsp;<a href="contatti/"  >contatti</a>&nbsp;</div></nav></div>

    <div id="section-container"><!--###section-container### begin -->
      <div id="border" class="wrapper"><div class="banner-image"><img src="fileadmin/template/img/banner/archivio.png" width="496" height="322" alt="" /></div><div class="banner-title"><h1>Ricerca archivio atti</h1></div><div class="banner-text"><p></p></div></div>
    <!--###section-container### end --></div> 

    <div id="container" class="clearfix"><!--###container### begin -->
      <div id="main" role="main" class="wrapper"><!--###main### begin -->
        <div id="white"><!--###white### begin -->
<div id="leftmenu" ><ul><li>&nbsp;&nbsp;<a href="area-istituzionale/"  >Chi siamo</a></li><li>&nbsp;&nbsp;<a href="area-istituzionale/organi-istituzionali/"  >Organi istituzionali</a></li><li>&nbsp;&nbsp;<a href="area-istituzionale/albo-online/"  >Albo online</a></li><li>&nbsp;&nbsp;<a href="area-istituzionale/archivio-atti/"  >Archivio atti</a><ul><li><a href="http://esuverona.aitema.it:8000/documents/"  class="current">Ricerca</a></li><li><a href="area-istituzionale/archivio-atti/delibere-del-cda/"  >Delibere del C.d.A.</a></li><li><a href="area-istituzionale/archivio-atti/delibere-del-presidente/"  >Delibere del Presidente</a></li><li><a href="area-istituzionale/archivio-atti/delibere-del-direttore/"  >Delibere del Direttore</a></li><li><a href="area-istituzionale/archivio-atti/decreti-del-commissario-straordinario/"  >Decreti del Commissario Straordinario</a></li></ul></li><li>&nbsp;&nbsp;<a href="area-istituzionale/gare-e-avvisi/"  >Gare e avvisi</a></li><li>&nbsp;&nbsp;<a href="area-istituzionale/concorsi/"  >Concorsi</a></li><li>&nbsp;&nbsp;<a href="area-istituzionale/fornitori/"  >Fornitori</a></li><li>&nbsp;&nbsp;<a href="area-istituzionale/incarichi/"  >Incarichi</a></li><li>&nbsp;&nbsp;<a href="area-istituzionale/regolamenti/"  >Regolamenti</a></li><li>&nbsp;&nbsp;<a href="area-istituzionale/trasparenza-valut-e-merito/"  >Trasparenza, valut. e merito</a></li><li>&nbsp;&nbsp;<a href="area-istituzionale/documenti-di-programmazione/"  >Documenti di programmazione</a></li><li>&nbsp;&nbsp;<a href="area-istituzionale/struttura-organizzativa/"  >Struttura organizzativa</a></li><li>&nbsp;&nbsp;<a href="area-istituzionale/cerca-persone/"  >Cerca persone</a></li><li>&nbsp;&nbsp;<a href="area-istituzionale/press/"  >Press</a></li><li>&nbsp;&nbsp;<a href="area-istituzionale/accessibilita/"  >Accessibilità</a></li><li>&nbsp;&nbsp;<a href="area-istituzionale/privacy/"  >Privacy</a></li></ul></div>

        
        <div id="content_section">
	<!--  CONTENT ELEMENT, uid:137/list [begin] -->
		<div id="c137" class="csc-default" >
		<!--  Plugin inserted: [begin] -->
			
<div class="news-single-item">
	<%= yield %>
</div>

		<!--  Plugin inserted: [end] -->
			</div>
	<!--  CONTENT ELEMENT, uid:137/list [end] -->
		</div>
        <!--###white### end --></div>
        <!--###main### end --></div>
    <!--###container### end --></div> <!-- eo #container -->

  <div id="footer-container"><footer class="footer-wrapper"><div id="footer-columns"><a href="servizi/"  class="first_level">Servizi allo studente</a><a href="servizi/sportello-on-line/"  class="second_level">Sportello on-line</a><a href="servizi/residenze/"  class="second_level">Servizio abitativo</a><a href="servizi/residenze/normativa/"  class="third_level">Normativa</a><a href="servizi/residenze/residenze/"  class="third_level">Residenze</a><a href="servizi/residenze/alloggi/via-seminario/"  class="fourth_level">Via Seminario</a><a href="servizi/residenze/alloggi/via-san-vitale/"  class="fourth_level">Via San Vitale</a><a href="servizi/residenze/residenze/via-mazza/"  class="fourth_level">Via Mazza</a><a href="servizi/residenze/residenze/vicolo-campofiore/"  class="fourth_level">Vicolo Campofiore</a><a href="servizi/residenze/alloggi/via-giuliari/"  class="fourth_level">Via Giuliari</a><a href="servizi/residenze/residenze/piazzale-scuro/"  class="fourth_level">Piazzale Scuro</a><a href="servizi/residenze/residenze/via-campofiore-don-mazza/"  class="fourth_level">Via Campofiore Don Mazza</a><a href="servizi/residenze/idonei-beneficiari/"  class="third_level">Idonei beneficiari</a><a href="servizi/residenze/senza-requisiti/"  class="third_level">Senza requisiti</a><a href="servizi/residenze/tariffe-studenti/"  class="third_level">Tariffe studenti</a><a href="servizi/residenze/alloggi-estivi/"  class="third_level">Alloggi estivi</a><a href="servizi/residenze/foresteria/"  class="third_level">Foresteria</a><a href="servizi/residenze/altri-utenti/"  class="third_level">Altri utenti</a><a href="servizi/residenze/cerco-offro-alloggio/"  class="third_level">Cerco offro alloggio</a><a href="servizi/ristorazione/"  class="second_level">Servizio di ristorazione</a><a href="servizi/ristorazione/prendiamoli-per-la-gola/"  class="third_level">Prendiamoli per la gola</a><a href="servizi/ristorazione/prendiamoli-per-la-gola/lunedi/"  class="fourth_level">Lunedì</a><a href="servizi/ristorazione/prendiamoli-per-la-gola/martedi/"  class="fourth_level">Martedì</a><a href="servizi/ristorazione/prendiamoli-per-la-gola/mercoledi/"  class="fourth_level">Mercoledì</a><a href="servizi/ristorazione/prendiamoli-per-la-gola/giovedi/"  class="fourth_level">Giovedì</a><a href="servizi/ristorazione/prendiamoli-per-la-gola/venerdi/"  class="fourth_level">Venerdì</a><a href="servizi/ristorazione/prendiamoli-per-la-gola/sabato/"  class="fourth_level">Sabato</a><a href="servizi/ristorazione/prendiamoli-per-la-gola/domenica/"  class="fourth_level">Domenica</a><a href="servizi/ristorazione/ristoranti/"  class="third_level">Ristoranti</a><a href="servizi/ristorazione/ristoranti/san-francesco/"  class="fourth_level">San Francesco</a><a href="servizi/ristorazione/ristoranti/le-grazie/"  class="fourth_level">Le Grazie</a><a href="servizi/ristorazione/convenzioni/"  class="third_level">Convenzioni</a><a href="servizi/ristorazione/normativa/"  class="third_level">Normativa</a><a href="servizi/ristorazione/tariffe/"  class="third_level">Tariffe</a><a href="servizi/borse/"  class="second_level">Borse di studio</a><a href="servizi/scambi/"  class="second_level">Scambi internazionali</a><a href="servizi/scambi/borse-di-studio-allestero/"  class="third_level">Borse di studio all'estero</a><a href="servizi/scambi/summer-school/"  class="third_level">Summer school</a><a href="servizi/scambi/summer-school/gallery-2011/"  class="fourth_level">Gallery 2011</a><a href="servizi/aula-informatica/"  class="second_level">Aula informatica</a><a href="servizi/aula-studio/"  class="second_level">Aula studio</a><a href="servizi/urp/"  class="second_level">URP</a><a href="servizi/sussidi/"  class="second_level">Sussidi straordinari</a><a href="servizi/trasporti/"  class="second_level">Agevolazioni trasporti</a><a href="servizi/consulenza-psicologica/"  class="second_level">Consulenza psicologica</a><a href="servizi/prestobici/"  class="second_level">Presto-Bici</a><a href="servizi/studenti-diversamente-abili/"  class="second_level">Studenti diversamente abili</a><a href="servizi/centro-stampa/"  class="second_level">Centro stampa</a><a href="servizi/sport/"  class="second_level">Sport</a><a href="servizi/collaborazioni-part-time/"  class="second_level">Collaborazioni part-time</a><a href="servizi/prestito/"  class="second_level">Prestito fiduciario</a><a href="servizi/associazioni/"  class="second_level">Associazioni</a><a href="servizi/ti-conviene/"  class="second_level">Ti conviene</a><a href="servizi/mappa-esu/"  class="second_level">Mappa ESU</a><a href="servizi/link/"  class="second_level">Link</a><a href="area-istituzionale/"  class="first_level">Area istituzionale</a><a href="area-istituzionale/"  class="second_level">Chi siamo</a><a href="area-istituzionale/organi-istituzionali/"  class="second_level">Organi istituzionali</a><a href="area-istituzionale/albo-online/"  class="second_level">Albo online</a><a href="area-istituzionale/archivio-atti/"  class="second_level">Archivio atti</a><a href="area-istituzionale/archivio-atti/ricerca/"  class="third_level">Ricerca</a><a href="area-istituzionale/archivio-atti/delibere-del-cda/"  class="third_level">Delibere del C.d.A.</a><a href="area-istituzionale/archivio-atti/delibere-del-presidente/"  class="third_level">Delibere del Presidente</a><a href="area-istituzionale/archivio-atti/delibere-del-direttore/"  class="third_level">Delibere del Direttore</a><a href="area-istituzionale/archivio-atti/decreti-del-commissario-straordinario/"  class="third_level">Decreti del Commissario Straordinario</a><a href="area-istituzionale/gare-e-avvisi/"  class="second_level">Gare e avvisi</a><a href="area-istituzionale/gare-e-avvisi/lavori/"  class="third_level">Lavori</a><a href="area-istituzionale/gare-e-avvisi/servizi/"  class="third_level">Servizi</a><a href="area-istituzionale/gare-e-avvisi/forniture/"  class="third_level">Forniture</a><a href="area-istituzionale/gare-e-avvisi/incarichi-di-progettazione/"  class="third_level">Incarichi di progettazione</a><a href="area-istituzionale/concorsi/"  class="second_level">Concorsi</a><a href="area-istituzionale/fornitori/"  class="second_level">Fornitori</a><a href="area-istituzionale/incarichi/"  class="second_level">Incarichi</a><a href="area-istituzionale/regolamenti/"  class="second_level">Regolamenti</a><a href="area-istituzionale/trasparenza-valut-e-merito/"  class="second_level">Trasparenza, valut. e merito</a><a href="area-istituzionale/trasparenza-valutazione-e-merito/personale-dirigente/"  class="third_level">Personale dirigente</a><a href="area-istituzionale/trasparenza-valutazione-e-merito/tassi-assenza-presenza/"  class="third_level">Tassi assenza presenza</a><a href="area-istituzionale/trasparenza-valutazione-e-merito/contrattazione-decentrata/"  class="third_level">Contrattazione decentrata</a><a href="area-istituzionale/documenti-di-programmazione/"  class="second_level">Documenti di programmazione</a><a href="area-istituzionale/struttura-organizzativa/"  class="second_level">Struttura organizzativa</a><a href="area-istituzionale/cerca-persone/"  class="second_level">Cerca persone</a><a href="area-istituzionale/press/"  class="second_level">Press</a><a href="area-istituzionale/accessibilita/"  class="second_level">Accessibilità</a><a href="area-istituzionale/privacy/"  class="second_level">Privacy</a><a href="contatti/"  class="first_level">Contatti</a><a href="servizi/urp/"  class="second_level">URP</a><a href="area-istituzionale/cerca-persone/"  class="second_level">Cerca persone</a></div></footer></div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='fileadmin/template/js/libs/jquery-1.5.1.min.js'>\x3C/script>")</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script src="fileadmin/template/js/plugins.js"></script>
  <script src="fileadmin/template/js/script.js"></script>
  <script src="fileadmin/template/js/autocolumn.js"></script>
  <!-- end scripts-->


  <!--[if lt IE 7 ]>
    <script src="fileadmin/template/js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg");</script>
  <![endif]-->
  <script>
    $('#footer-columns').columnize({ columns: 4,   width : 230, height : 400 });
  </script>

  <script>
    var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]]; // Change UA-XXXXX-X to be your site's ID 
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>




</body>
</html>
